.container {
  display: grid;
  place-items: center;
  width: 100%;
}

.container__myprofile {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url('../assets/jane-palash-dfRgump8lsE-unsplash.jpg');
  background-size: cover;
  background-position: bottom;

  color: white;
}
.container__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__data {
  display: flex;
  gap: 2rem;
}

.container__info p {
  font-size: 1.6rem;
}

.container__icons {
  display: flex;
  gap: 2rem;
  font-size: 4rem;
}

.myface {
  border-radius: 100%;
}

.myName {
  line-height: 1;
  margin: 2rem 0rem 2rem 0rem;
  text-transform: uppercase;

  font-size: 4.2rem;
}

.flag {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.container__data {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.container__data h2 {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}
/* LEFT SIDE */

.container__leftSide {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Container Tech */
.container__tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container__tech div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-left: 2rem;
}

.container__tech h3 {
  font-size: 2.2rem;
}

.container__tech ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container__tech ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.8rem;
}

/* Container Competencias */

.container__competencias ul {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  list-style: inside;
}

.container__competencias li {
  font-size: 1.8rem;
}

/* Container Idiomas */

.container__idiomas ul {
  list-style: inside;

  padding-left: 2rem;
}

.container__idiomas li {
  font-size: 1.8rem;
}
/* Container Hobbies */

.container__hobbies ul {
  list-style: inside;
  padding-left: 2rem;
}

.container__hobbies li {
  font-size: 1.8rem;
}

/* Container Educacion complementaria */
.container__educacion_complementaria ul {
  list-style: inside;
}

.container__educacion_complementaria li {
  font-size: 1.4rem;
}

/* RIGHT SIDE */
.container__history {
  background-color: #099268;
  color: #f1f3f5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Container Proyectos */

.container__proyectos h3 {
  font-size: 2.2rem;
}
.container__proyecto {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 0 2rem 0;
}
.container__proyecto > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__proyecto ul {
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container__proyecto li {
  font-size: 1.6rem;
}

.iconsProyect {
  display: flex;
  justify-content: flex-start !important;
  gap: 2rem;

  font-size: 3.8rem;
}
/* Container educacion profesional */

.container__educacion ul {
  list-style: inside;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container__educacion li {
  font-size: 1.8rem;
}
