.container {
  display: grid;
  place-items: center;
  width: 100%;
}

.container__myprofile {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('../assets/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg');
  background-size: cover;
  background-position: center;

  color: white;
}
.container__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__data {
  display: flex;
  gap: 2rem;
}

.container__info p {
  font-size: 1.6rem;
}

.container__icons {
  display: flex;
  gap: 2rem;
  font-size: 4rem;
}

.container__data {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.container__contact {
  padding: 1rem 2rem;
}

.myface {
  border-radius: 100%;
}

.myName {
  line-height: 1;
  margin: 2rem 0rem 2rem 0rem;
  text-transform: uppercase;

  font-size: 4.2rem;
}

.flag {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
